@charset "UTF-8";
body {
  font-family: "Nunito Sans", sans-serif;
  background-image: url("../img/v850-aum-02leaves.jpg");
  background-position: center;
  background-size: cover;
}

.bg-color-nav {
  background-color: #f3e4b6;
}

.size-lg-more {
  width: 300px;
}

.size-sm {
  width: 140px;
}

.animate__fadeIn {
  animation-duration: 3s;
}

main {
  background-color: #F8F7F3;
}

.justified {
  text-align: justify;
}

li p {
  margin-bottom: 0px;
}

.border-mine {
  border-color: #628A27;
  box-shadow: 0 0 0 0.2rem rgba(98, 138, 39, 0.25);
}

.centered, .consetra, .centered-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.image-size {
  width: 280px;
  height: 320px;
}

.image-size-xxl {
  width: 336px;
  height: 384px;
}

.img-space {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.image-size-t {
  height: 450px;
}

.imagen-menu {
  margin: 2px 5px 2px 5px;
  padding: 5px 10px 5px 10px;
  height: 400px;
}

.image-nuestrocafe {
  transition: transform 0.2s;
  margin: 0;
}
.image-nuestrocafe:hover {
  transform: scale(1.3);
}

.bg-color-green {
  background-color: #E9EDC9;
}

.icon-link {
  width: 20px;
  margin-bottom: 8px;
  margin-top: 5px;
  margin-right: 8px;
  margin-left: 8px;
}

.link-trabaja-f {
  color: #000000;
}
.link-trabaja-f:hover {
  color: #bb6b36;
}

.centered-links {
  justify-content: center;
  margin-bottom: 0px;
}

footer p {
  margin-bottom: 0px;
}

/*consetra es contactanos, seguinos, y trabajá con nosotros, con se tra*/
.consetra {
  justify-content: center;
  align-self: start;
  text-align: start;
}

.form-control:focus {
  border-color: #779267;
  box-shadow: 0 0 0 0.2rem rgba(119, 146, 103, 0.25);
}

.button-forms {
  background-color: #557136;
  border: none;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 2px;
  transition-duration: 0.4s;
}
.button-forms:hover {
  background-color: #AAB89B;
  color: black;
}

.focus-in-contract {
  -webkit-animation: focus-in-contract 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.8s both;
  animation: focus-in-contract 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.8s both;
}

@-webkit-keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
.tracking-in-expand-fwd {
  -webkit-animation: tracking-in-expand-fwd 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.9s both;
  animation: tracking-in-expand-fwd 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.9s both;
}

@-webkit-keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
.tracking-in-expand-fw {
  -webkit-animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) 2s both;
  animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) 2s both;
}

@-webkit-keyframes tracking-in-expand-fw {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes tracking-in-expand-fw {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@media (any-hover: hover) {
  .image-nuestrocafe:hover {
    transform: scale(1.3);
  }
  .button-forms:hover {
    background-color: #AAB89B;
    color: black;
  }
  .link-trabaja-f:hover {
    color: #bb6b36;
  }
}

/*# sourceMappingURL=main.css.map */
