// Colores
$color-header: #f3e4b6;
$color-footer: #E9EDC9;
$color-main: #F8F7F3;
$color-button: #557136;
$color-button-hover: #AAB89B;
$color-formControl-focus: #779267;
$color-trabaja-hover: #bb6b36;
$color-borde-menu: #628A27;
$color-shadow: rgba(98, 138, 39, 0.25);





