body {
    font-family: 'Nunito Sans', sans-serif;
}

body{
    background-image: url("../img/v850-aum-02leaves.jpg");
    background-position: center;
    background-size: cover;
}

/* Estilos para el header*/
.bg-color-nav{
    background-color: #f3e4b6;
}

.size-lg-more{
    width: 300px;
}

.size-sm{
    width: 140px;
} 

/* Estilos para el main*/

main {
    /* background-color: #F4F2F5; */
    background-color: #F8F7F3;
}
.justified{
    text-align: justify;
}

.image-size{
    width: 280px;
    height: 320px;
}

.img-space{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.image-size-t{
    height: 450px;
}

.imagen-menu{
    margin: 2px 5px 2px 5px;
    padding: 5px 10px 5px 10px;
    height: 400px;
}

.centered{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.border-mine{
    border-color: #628A27;
    box-shadow: 0 0 0 0.2rem rgba(98, 138, 39, 0.25)
}

.form-control:focus {
    border-color: #779267;
    box-shadow: 0 0 0 0.2rem rgba(119, 146, 103, 0.25);
}

button {background-color:#557136;
    border: none;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 2px;
    transition-duration: 0.4s;
  }

button:hover {
    background-color: #AAB89B;
    color: black;
  }

  /* Estilos para el footer */

.bg-color-green{
    background-color: #E9EDC9;
}

.icon-link{
    width: 20px;
}

.link-trabaja-f{
    color: #484b4d;
}
.link-trabaja-f:hover{
    color: #000000;
}
